*{
    margin: 0;
    padding: 0;
    color:black;
    box-sizing: border-box;
    font-family: serif;
}
.background-image{
    background-image: url(../CSS/img/images.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
h1 {
    color: red;
    text-align: center;
}
p{
    color: black;
    font-size: larger;
    font-style: normal;
    text-align: center;
    text-indent: 0%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: powderblue;
}
.form {
    padding: 30px 40px;
    background-color: rgb(117, 189, 248);
    align-items: center;
    text-align: center;
    font-style: oblique;
    width: 50%;
}
